.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("../images/napraia2.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1; /* Adjust the opacity as needed */
  margin: 0;
  padding: 0;
  transform: scale(1.05);
}
