.box-TelaTchau-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* position: relative;
    z-index: 2; */
    padding: 0 10%;
    font-family: 'Montserrat', sans-serif;
  }

  .box-TelaTchau-parabens {
    font-weight: 700;
    text-align: center;
    color: #050505;
    text-align: center;
    font-size: 1.5em;
    transform: translateX(0em);
    margin-top: -18%;
    font-family: 'Montserrat', sans-serif;
    
  }

.box-TelaTchau-title {
    font-weight: 700;
    text-align: center;
    color: #050505;
    text-align: center;
    font-size: 0.9em;
    transform: translateX(32em);
    margin-top: 0%;
    margin-right: 60%;
    
  }

  .box-TelaTchau {
    /* Rectangle */
    position: absolute;
    width: 40%;
    height: 80%;
    border: 5px solid aliceblue;
    background: linear-gradient(180deg, rgb(185,166,186) -100%, rgb(211,211,211) 100%);
    box-shadow: -18px 15px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0.6;
  }

  .botaoAvançar-TelaTchau{
    /* Centraliza o botão */
    display: flex;
    width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 1024px) {
    .box-TelaTchau {
      width: 60%;
    }
  }

  @media screen and (max-width: 600px) {
    .box-TelaTchau {
      width: 80%;
    }
  }

  @media screen and (max-width: 400px) {
    .box-TelaTchau {
      width: 80%;
    }
    .box-TelaTchau-title{
      font-size: 0.85em;
    }
  }


  /* Confetti */

  .confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  
  .confetti {
    position: absolute;
    pointer-events: none;
    border-radius: 0%;
    animation: confetti-fall 3s linear infinite;
    z-index: 1;
  }
  
  .confetti.confetti--animation-slow {
    animation: confetti-fall 2.5s linear infinite;
  }
  
  .confetti.confetti--animation-medium {
    animation: confetti-fall 1.8s linear infinite;
  }
  
  .confetti.confetti--animation-fast {
    animation: confetti-fall 1s linear infinite;
  }
  
  @keyframes confetti-fall {
    0% {
      transform: translate3d(0, -100%, 0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 100vh, 0) rotate(1080deg);
      opacity: 0;
    }
  }
  
  /*botao final*/

  .botaoPegarSelo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  
  .pulsating-button {
    /* Button styles */
    font-size: 1.5em;
    padding: 1em 2em;
    background-color: #612368;
    color: #fff;
    border: none;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    animation: pulsate 2s infinite;
    cursor: pointer;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.6);
    }
  }

/*text animation

@keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 30%;
    }
  } */
  
  /*.box-TelaTchau-title {
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 1s steps(10, end); 
  }
  */
  
  
  
  
