@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.premio-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Container que está a img
    - A img é trocada a depender do tam da tela (ver arquivo Premio.jsx) 
*/
.premio-container-img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Espaçamento vertical para o premio-box */
.premio-box-space-ajust{
    height: 52%;
}

.premio-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

}



/* Por padrão, o css está ajustado para telas de smartphone */
/* Tela desktop */
@media screen and (min-width: 1024px) {
    .premio-container-img {
        width: 75%;
        height: 80%;
        align-items: flex-start;
    }
    .premio-box-space-ajust{
        height: 8%;
    }
}

/* Tela tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .premio-container-img {
        width: 90%;
    }
}