/* Estilos base para todas as telas */
body {
  background-color: rgba(255, 255, 255, 0.197); /* Ajuste as cores conforme necessário */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  /* Adicione aqui suas regras de estilo para telas menores */
}

/* Estilos para telas médias */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Adicione aqui suas regras de estilo para telas médias */
}

/* Estilos para telas maiores */
@media (min-width: 1025px) {
  /* Adicione aqui suas regras de estilo para telas maiores */
}
