<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <!--É uma tag meta utilizada para comunicar aos navegadores 
        qual é o formato de codificação de caracteres utilizado 
        naquele documento.-->
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <!--viewport = controla como um site é exibido em um dispositivo móvel. 
        Quando o Google avalia o quanto seu site é otimizado para 
        dispositivos móveis, ele analisa a configuração da janela de 
        visualização como um critério para otimização
        width=device-width =  define o viewport com a largura do dispositivo. 
        initial-scale=1 = define o nível de zoom inicial quando o usuário visita a página.-->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--Rel = define o relacionamento entre o arquivo em que o comando está 
        escrito e o arquivo que é definido no caminho do href-->
  </head>

  <header>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </header>
  <div class="frame">
    <button class="custom-btn btn-1">
      <span
        >Olá, eu sou a Glória! <br />
        Vou começar explicando a gamificação!
      </span>
    </button>
  </div>
</html>
