.glorinha {
    background-image: url("./gloriaohgloria.png");
    background-repeat: no-repeat;
    transform: scale(1);
    height: 260%;
    width: 350%;
    margin-left: -122%;
    margin-top: -20%;
    z-index: 9999;
    position: fixed;
}

@media screen and (max-width: 844px) {
  .glorinha {
    background-repeat: no-repeat;
    transform: scale(0.23);
    height: 260%;
    width: 350%;
    position: fixed;
    margin-left: -122%;
    margin-top: -138%;
    z-index: 9999;
  }

}
