.frame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 100%;
  max-width: 550px;
  height: 100px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #cac6d4 0%, #612368 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .custom-btn {
    font-size: 16px;
    height: 80px;
    max-width: 400px;
  }
}

 /* Está faltando a diminuição do espaçamento entre as frases! */